[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
